@font-face{font-family:"freight-sans-pro";font-style:normal;font-weight:300;}
@font-face{font-family:"freight-sans-pro";font-style:italic;font-weight:300;}
@font-face{font-family:"freight-sans-pro";font-style:normal;font-weight:400;}
@font-face{font-family:"freight-sans-pro";font-style:italic;font-weight:400;}
@font-face{font-family:"freight-sans-pro";font-style:normal;font-weight:700;}
@font-face{font-family:"freight-sans-pro";font-style:italic;font-weight:700;}
@font-face{font-family:"freight-sans-pro";font-style:normal;font-weight:900;}
@font-face{font-family:"freight-sans-pro";font-style:italic;font-weight:900;}
@font-face{font-family:"nimbus-sans-condensed";font-style:normal;font-weight:900;}
@font-face{font-family:"nimbus-sans";font-style:normal;font-weight:700;}
@font-face{font-family:"nimbus-sans";font-style:italic;font-weight:700;}
@font-face{font-family:"nimbus-sans";font-style:normal;font-weight:900;}
@font-face{font-family:"nimbus-sans";font-style:italic;font-weight:900;}
.comment-left{float:left;width:6%;margin-right:1%;padding-top:10px;}
.comment-right{float:left;width:93%;}
.add-comment{padding:2%;padding-top:0px;background-color:#ffffff;clear:both;font-family:'Roboto', sans-serif !important;border-bottom:1px solid #e5e5e5;}
.add-comment h1{font-family:'Roboto' !important;color:#000000 !important;font-size:30px;background-color:#ffffff;border-bottom:5px solid #cf0000;font-weight:normal !important;margin-bottom:10px;}
.comment-img img{max-width:100%;width:100%;height:auto;}
.notice{background:#d20000;width:100%;color:#FFF;text-align:center;padding:10px;line-height:17px;font-size:12px;}
.notice strong{color:#ffe600;}
.comment-system{font-family:Tahoma !important;font-size:11px !important;border-bottom:1px solid #E2E2E2;padding-top:10px;padding-bottom:10px;}
.profile-name{color:#3B5998;font-weight:bold !important;}
.profile-content{}
.post-text{color:#1A1A1A !important;line-height:14px;margin:0 28px 5px 0;}
.post-reply{color:#3B5998 !important;}
.post-like{color:#3B5998 !important;}
.post-number{color:#3B5998 !important;margin-left:10px;}
.post-time{color:#808080 !important;}
.recent-comments{font-size:11px;color:#3B5998 !important;text-decoration:none;font-weight:bold !important;font-family:tahoma !important;display:block;margin-bottom:12px;}
#spamBannerContainer{width:100%;padding:10px;text-align:center;background:#46659b !important;color:#FFF;font-weight:bold !important;font-size:18px !important;position:fixed;top:0;left:0;}
.product-item .picture{float:left;max-width:193px !important;width:40%;text-align:center;display:block;}
.product-item .text{float:left;min-height:250px;width:60%;display:block;font-family:'Roboto', sans-serif !important;}
.product-item{display:inline-block;}
body{overflow-x:hidden;}
.block-item{width:95% !important;padding:0 !important;}
.product-item span{display:block;font-size:16px;margin:5px 0;}
.product-item img{width:70px !important;display:block;margin:10px 0 !important;}
ol.rectangle-list{list-style-type:none;list-style-type:decimal !ie;counter-reset:li-counter;}
.fullWidth ul, ol{padding:0;line-height:140%;}
ol{list-style-position:inside;}
.rectangle-list li{position:relative;display:block;padding:.4em .4em .4em .8em;margin:.5em 0 .5em 2.5em;background:#F9F9F9;color:#444;text-decoration:none;transition:all .3s ease-out;}
.rectangle-list li:hover{background:#eee;}
.rectangle-list li:before{content:counter(li-counter);counter-increment:li-counter;position:absolute;left:-2.5em;top:50%;margin-top:-1em;color:white;background:#46ba37;height:2em;width:2em;line-height:1.7em;text-align:center;border-radius:35px;-webkit-border-radius:35px;-o-border-radius:35px;-ms-border-radius:35px;-moz-border-radius:35px;font-weight:bold;}
p.bold{font-weight:bold;}
.results{background:#F3F3F3;padding:1em;margin:15px 0;}
.testimonial{margin:1em 0;}
.testimonial img{float:left;margin:0;padding:0;}
.testimonial p{float:left;width:50%;margin-left:1em;}
.rectangle-list li:hover:after{left:-.6em;border-left-color:#46ba37;}
.rectangle-list li:after{position:absolute;content:'';border:.5em solid transparent;left:-1em;top:50%;margin-top:-.5em;transition:all .3s ease-out;}
a.buy{padding:5px 13.99px !important;font-size:14.4px !important;font-weight:900 !important;letter-spacing:0px !important;text-align:center !important;color:#000 !important;}
.product-item span.big{font-size:13px !important;letter-spacing:0px !important;font-weight:900 !important;}
.product-item span.small{font-size:12px !important;text-transform:capitalize;}
.product-item span.small b{color:#333;}
.product-item{padding:26px 0;}
.product-item span.small{font-size:13px;color:#999;}
.product-item .picture img{display:block !important;margin-left:10% !important;width:150px !important;}
.product-item span.red strong{color:#000;font-size:17px !important;}
@media(max-width:550px){#videoplay{width:75% !important;}
}
.product-item span.red{color:#46ba37;padding:0;font-size:13px !important;width:100%;margin-top:-5px !important;}
.product-item span.big{font-size:15px !important;font-weight:900 !important;letter-spacing:0px !important;color:#000;}
a.buy{background:#ffae00;background:-moz-linear-gradient(top, #ffae00 0%, #ff9000 98%, #ff960d 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffae00), color-stop(98%,#ff9000), color-stop(100%,#ff960d));background:-webkit-linear-gradient(top, #ffae00 0%,#ff9000 98%,#ff960d 100%);background:-o-linear-gradient(top, #ffae00 0%,#ff9000 98%,#ff960d 100%);background:-ms-linear-gradient(top, #ffae00 0%,#ff9000 98%,#ff960d 100%);background:linear-gradient(to bottom, #ffae00 0%,#ff9000 98%,#ff960d 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffae00', endColorstr='#ff960d',GradientType=0);font-weight:900;font-size:26px;letter-spacing:-2px;color:#000;padding:10px 14px;border-radius:6px;-webkit-border-radius:5px;-moz-border-radius:5px;display:table-cell;-o-border-radius:5px;-ms-border-radius:5px;}
.product-item .picture img{margin-right:50px !important;}
img{height:auto !important;}
.sm4CommentsWidget .comments{border-style:none !important;}
/* tweeter box */
/* line 100, ../sass/_main.scss */
.tweet-wrap {
  max-width: 502px;
  width:100%;
  margin: 10px auto;
  border: 1px solid #f5f5f5;
  box-shadow: 0 0 10px #ccc;
  position: relative;
  padding: 15px 15px 0 15px;
}
/* line 107, ../sass/_main.scss */
.tweet-wrap .follow {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 65px;
  height: 20px;
  cursor: pointer;
  background: url("follow.jpg.html") no-repeat;
}
/* line 117, ../sass/_main.scss */
.tweet-wrap .txt1 .model {
  width: 50px;
  height: 50px;
  float: left;
  background: url("model1.jpg.html") no-repeat;
  margin-right: 10px;
}
/* line 124, ../sass/_main.scss */
.tweet-wrap .txt1 .model2 {
  background: url("model2.jpg.html") no-repeat;
}
/* line 127, ../sass/_main.scss */
.tweet-wrap .txt1 .model3 {
  background: url("model3.jpg.html") no-repeat;
}
/* line 130, ../sass/_main.scss */
.tweet-wrap .txt1 strong {
  font-size: 18px;
  display: inline-block;
  background: url("check.jpg.html") no-repeat center right;
  padding-right: 30px;
}
/* line 136, ../sass/_main.scss */
.tweet-wrap .txt1 span {
  display: block;
}
/* line 140, ../sass/_main.scss */
.tweet-wrap .txt2 {
  font-size: 18px;
  font-family: georgia, serif;
  padding: 10px 0;
}
/* line 144, ../sass/_main.scss */
.tweet-wrap .txt2 span {
  color: #0099bb;
}
/* line 148, ../sass/_main.scss */
.tweet-wrap .txt3 {
  border-top: 1px solid #ccc;
  font-size: 12px;
  line-height: 30px;
  background: url("tweet-bot.jpg.html") no-repeat center right;
}
#tea{float:left;width:215px;margin-right:10px;margin-bottom:17px}
.big{font-size:25px;line-height:26px;margin:18px 0}